extends common/layout

block content
    div.container
        div.col-sm-6.col-sm-offset-3
            h1.
                <span class="fa fa-sign-in"></span> Login</h1>

            //- Login form
            form#loginForm(action="/login", method="post")
                div.form-group
                    label Username
                    input.form-control(name="username", type="text")
                div.form-group
                    label Password
                    input.form-control(name="password", type="password")
                div.form-group
                    label.checkbox-inline
                        input(name="remember", type="checkbox", value=1)
                        span Remember me?
                button.btn.btn-warning.btn-lg(type="submit") Login

            hr

            p Need an account?&nbsp;
                a(href="/signup") Sign up
            p Or go&nbsp;
                a(href="/") home
                span .

//- Script for loginPage
block additionalScripts
    script(src="/js/loginPage.js")              