extends layout

block content
    style.
        body{
            word-wrap: break-word;
        }
    div.container
        div.page-header.text-center
            h1
                span.fa.fa-anchor 
                span Profile Page
            a.btn.btn-default.btn-sm(href="/logout") Logout
            
        div.row
            div.col-sm-6
                div.well
                    h3
                        span.fa.fa-user  
                        span Local
                    p
                        strong ID de usuario: 
                        span #{user.id_usuario}
                        br
                        strong Username: 
                        span #{user.username}
                        br
                        strong Password: 
                        span #{user.password}
                        br
                        strong Nombre: 
                        span #{user.nombre}