extends layout

block content
    div.container
        div.col-sm-6.col-sm-offset-3
            h1.
                <span class="fa fa-sign-in"></span> Signup
            //- Show authentication messages
            if message.length > 0
                div.alert.alert-danger #{message}

            //- Login form
            form(action="/signup", method="post")
                div.form-group
                    label Username
                    input.form-control(type="text", name="username")
                div.form-group
                    label Password
                    input.form-control(type="password", name="password")
                button.btn.btn-warning.btn-lg(type="submit") Signup

                hr

                p Already have an account?
                    a(href="/login") Login
                p Or go
                    a(href="/") home.