extends common/layout

block headerScripts
    link(rel="stylesheet", href="/plugins/css/bootstrap-datepicker.css")

block content
    div.jumbotron.jumbotron-fluid
        //- Show message alert, if there's any in Flash-connect
        if message.length > 0
            include common/alertMessages

        form#carForm(action="/vehicles/add", method="post")
            h3.text-center Informacion del vehiculo
            div.vehicleInformationContainer
                include forms/vehicleForm

            h3.text-center Informacion de la poliza
            div.polizaInformationContainer
                include forms/polizaForm

            div.form-group.row.text-center
                button.btn.btn-primary(type="submit") Agregar vehiculo

block additionalScripts
    script(src="/js/datePickerFormat.js")
    script(src="/plugins/js/moment-with-locales.min.js")
    script(src="/plugins/js/bootstrap-datepicker.min.js")
    script(src="/plugins/js/bootstrap-datepicker.es.min.js")
