body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    /*color: rgb(255, 255, 255);
    background-color: rgb(50, 50, 50) !important;*/
    word-wrap: break-word;
    padding-top: 65px;
}

a {
    color: #00B7FF;
}

.well {
    background-color: rgb(20, 20, 20) !important;
}

.navbar {
    border-radius: 0px !important;
}

.table {
    table-layout: fixed;
    word-wrap: break-word;
}

select:invalid {
    color: rgb(153, 153, 153);
}

valid {
    color: #555;
}

.vertical-aligned-trow>th,
.vertical-aligned-trow>td {
    vertical-align: middle !important;
}

.vertical-aligned-trow>th {
    text-align: center;
}

.custom-trow:hover {
    background-color: rgb(50, 50, 50);
}

.thumbnail-image {
    object-fit: cover;
    max-height: 150px;
    width: auto;
}

.thumbnail {
    cursor: pointer;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    background-color: #303030 !important;
}

.jumbotron {
    /*background-color: rgb(20, 20, 20);
    color: #fff;*/
    border-radius: 0px !important;
}

.placeholder-select {
    color: rgb(153, 153, 153);
}

.closeAlert {
    cursor: pointer;
}

label {
    font-size: 13px;
}

.actions-container {
    white-space: nowrap;
    width: 43px;
}

footer {
    border-top: 1px solid gray;
    padding-top: 40px;
}

.nav-justified>li {
    display: table-cell;
    width: 1%;
}

.nav-pills>li>a {
    border-radius: 0px;
    border: 1px solid #375a7f;
}

.nav-justified>li>a {
    margin-bottom: 0;
}