body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255) !important;
    background-color: rgb(50, 50, 50) !important;
    word-wrap: break-word;
}

a {
    color: #00B7FF;
}

.well {
    background-color: rgb(20, 20, 20) !important;
}

.navbar {
    border-radius: 0px !important;
}

.table {
    table-layout: fixed;
    word-wrap: break-word;
}

th {
    vertical-align: middle !important;
}

tr:hover {
    background-color: rgb(50, 50, 50);
}

.thumbnail-image {
    object-fit: cover;
    max-height: 150px;
    width: auto;
}

.thumbnail {
    cursor: pointer;
}

.jumbotron {
    background-color: rgb(20, 20, 20);
    color: #fff;
}

.placeholder-select {
    color: rgb(153, 153, 153);
}