head
    title="Manejo de vehiculos RASE"
    //- First load external libraries
    link(rel="stylesheet", href="/plugins/css/bootstrap.min.css")
    link(rel="stylesheet", href="/plugins/css/font-awesome.min.css")   
    //- Load scripts
    script(src="/plugins/js/jquery.min.js")
    script(src="/plugins/js/bootstrap.min.js")
    
    //- Then load custom files
    link(rel="stylesheet", href="/css/shop-homepage.css")    
    link(rel='stylesheet', href='/css/style.css')
    
    block headerScripts