head
    title="Manejo de vehiculos RASE"
    link(rel='stylesheet', href='/css/style.css')
    title Node Authentication
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/font-awesome.min.css")    
    link(rel="stylesheet", href="/css/shop-homepage.css")    
    
    //- Load scripts
    script(src="/js/jquery.min.js")
    script(src="/js/bootstrap.min.js")