doctype html
html
    include head
    body
        //- Include navbar in the page
        include navbar

        //- Block where main content of the page will go to
        div.container
            block content

            //- This .pug file contains the footer for the page 
        include footer

        //- Load .js files at the end of </body> for faster rendering
        include bodyEnd
        
        //- Include block for optional additional script loading
        block additionalScripts