div.form-group
    label Username
    input.form-control(type="text", name="username", placeholder="Nombre de usuario para hacer login", required)
div.form-group
    label Contraseña
    input.form-control(type="password", name="password", placeholder="Contraseña de la cuenta", required)
div.form-group
    label Nombre
    input.form-control(type="text", name="nombre", placeholder="Nombre completo", required)
div.form-group
    label Empresa
    select.form-control(name="empresa", placeholder="", required)
        option(value="", selected, disabled) Selecciona la empresa que corresponde
        each company in companies
            option(value=company.id_empresa) #{company.nombre_empresa}
div.form-group
    label.checkbox-inline
        input(type="checkbox", name="rol", value=1)
        span Administrator?&nbsp;

    label.checkbox-inline
        input(type="checkbox", name="activo" value=1) 
        span Active user?&nbsp;